{% assign list = include.list | default: site.data.videos -%}

<div class="center">
    <div class="video-grid">
{% for video in list -%}
{% capture frame -%}
<lite-youtube videourl="{{ video.src }}" playlabel="Play: {{ video.title }}" onload="function onload(event) { event.target.parentElement.removeAttribute('style'); }"></lite-youtube>
{% endcapture %}
    <div class="video-container" style="aspect-ratio: 16 / 9; border-radius: 12px; overflow: hidden;">
        {{ frame | strip_newlines }}
    </div>
{% endfor %}
    </div>
</div>