div.nav-buttons {
    display: flex;
    margin-top: 1em;
}

.nav-buttons.both {
    justify-content: space-between;
}

.nav-buttons.next {
    justify-content: flex-end;
}

.nav-buttons.prev {
    justify-content: flex-start;
}

/* Center & Big 60vw Image */
.center {
    display: flex;
    justify-content: center;
    margin: 1em 0;

    >* {
        flex-shrink: 0;
    }

    >img.vw150 {
        min-width: 100%;
        max-width: 60vw;
        border-radius: 8px;
    }
}

/* Vido Grid Style */
.video-grid {
    --columns: 3;
    --gap: 20px;
    gap: var(--gap);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
    width: 60vw;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.video-grid>.video-container {
    width: calc((100% - (var(--gap) * 2)) / var(--columns));
    position: relative;
    aspect-ratio: 16/9;
    height: auto;

    >iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1233px) {
    .video-grid {
        --columns: 2;
    }
}

@media (max-width: 600px) {
    .video-grid {
        --columns: 1;
    }
}